* {
  margin: 0;
  padding: 0;
}
/* Navbar
==============================*/
.nav-containner {
  z-index: 10;
  top: 0;
  position:sticky;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  background-color: #FFFFFF;
}

.nav-categories {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-categories li {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #000;
  padding: 10px;
  padding-bottom: 30px;
}

.nav-link:hover {
  color: #5ECE7B;
}

.nav-categories li:hover {
  color: #5ECE7B;
  border-bottom: solid #5ECE7B;
  font-weight: 600;
  border-bottom-width: 2px;
  padding-bottom: 30px;
}

.logo {
  position: absolute;
  left: 50%;
  margin-top: 10.5px;
}

.nav-cart {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.curr-changer {
  z-index: 13;
}

.select {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;


  position: relative;
  padding-right: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.arrow-curr {
  position: absolute;
  margin-top: 12px;
  margin-left: 5px;
  pointer-events: none;
}

.options {
  position: absolute;
  right: 7.5%;
  width: 114px;
  height: auto;
  padding-top: 10px;
  background-color: #FFFFFF;
}

.option {
  height: 37px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

  /* identical to box height, or 29px */
  cursor: pointer;
  text-align: center;
}

.option:hover {
  height: 37px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

  /* identical to box height, or 29px */
  cursor: pointer;
  background-color: #EEEEEE;
  text-align: center; 
}

.cart {
  cursor: pointer;
}

.navbar-qty {
  position: relative;
  bottom: 10px;
  right: 7px;

  width: 20px;
  height: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  background: #1D1F22;
  border-radius: 60px;
}

/* Product
==============================*/

.cat-name, .cart-name {
  margin-left: 90px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}

.product-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 100px;
  grid-column-gap: 20px;
  grid-row-gap: 100px;
}

.product-card {
  position: relative;
  width: 386px;
  height: auto;
  background: inherit;
}

.card-ele {
  position: relative;
  margin: 15px;
}

.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1D1F22;
  margin-top: 24px;
}

.product-price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1D1F22;
}

.add-to-cart {
  position: absolute;
  bottom: 43px;
  right: 5px;
  cursor: pointer;
}

.cardImage {
  width: 354px;
  height: 400px;
  overflow: hidden;
}

.inStock {
  width: 354px;
  height: auto;
}
.outStock {
  width: 345px;
  height: auto;
  opacity: 0.5;
}

.outOfStock {
  position: absolute;
  left: 25.42%;
  right: 25.71%;
  top: 44.24%;
  bottom: 43.94%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  /* identical to box height, or 38px */

  display: flex;
  align-items: center;

  color: #8D8F9A;
}

.stockOut {
  color: #8D8F9A;
}

/* Cart
=================================*/

.cart-page {
  padding: 100px;
}

.brand-name {
  margin-top: 24px;
  margin-bottom: 16px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;

  /* identical to box height, or 90% */
  display: flex;
  align-items: center;

  color: #1D1F22;
}

hr {
  color: #E5E5E5;
  margin-top: 15px;
}

.item-name {
  margin-bottom: 16px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;

  /* identical to box height, or 90% */
  display: flex;
  align-items: center;

  color: #1D1F22;
}

.item-price {
  margin-bottom: 16px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;

  /* identical to box height, or 90% */
  display: flex;
  align-items: center;

  color: #1D1F22;
}

.cart-product-page {
  display: flex;
  justify-content: space-between;
}

.cart-product-image {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 24px;
}

.cart-product-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-button {
  margin: 10px;
  width: 45px;
  height: 45px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  border: 1px solid #1D1F22;
}

.counter {
  margin-left: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;

  /* or 38px */
  display: flex;
  align-items: center;
  text-align: center;

  color: #1D1F22;
}

.input {
  display: inline-block;
  min-width: 400px;
}

.att-value {
  margin-right: 10px;
  width: auto;
  max-width: 100px;
  height: 35px;

  background: #FFFFFF;
  border: 1px solid #1D1F22;
  padding: 6px 15px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;

  /* identical to box height, or 112% */
  letter-spacing: 0.05em;

  color: #1D1F22;

  /* identical to box height */
  cursor: pointer;
}


.att-name {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  /* identical to box height, or 100% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #1D1F22;



  margin-bottom: 20px;
  margin-top: 20px;
}

.order {
  margin-top: 32px;
}

.tax {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;


  color: #1D1F22;
}

.quantity {
  margin-top: 8px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;


  color: #1D1F22;
}

.total {
  margin-top: 8px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;


  color: #1D1F22;
}

.order-button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  width: 279px;
  height: 43px;
  cursor: pointer;

  
  border: #5ECE7B;
  color: #fff;
  background: #5ECE7B;
}

.left-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 85%;
  right: 20%;

  color: #fff;
  background: rgba(0, 0, 0, 0.73);
  border: #000;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 85%;
  right: 12%;

  color: #fff;
  background: rgba(0, 0, 0, 0.73);
  border: #000;
  cursor: pointer;
}

.arrow--left {
  margin-top: 3px;
  margin-right: 2px;
}
.arrow--right {
  margin-top: 3px;
  margin-left: 2px;
}

/* Product Page
=================================*/

.pdp {
  margin-top: -50px;
  padding: 100px;
  display: flex;
}

.pdp-images {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.pdp-image {
  width: 100px;
  margin-bottom: 24px;
}

.pdp--image {
  width: auto;
  height: auto;
  max-width: 700px;
  min-width: 400px;
}

.main-pdp-image {
  width: 100%;
  height: auto;
}

.pdp-main {
  margin-left: 50px;
}

.pdp-price {
  margin-top: 36px;
  margin-bottom: 15px;

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  /* identical to box height, or 100% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #1D1F22;
}

.pdp-add-to-cart {
  margin-top: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;

  /* or 26px */

  /* --c-text */
  color: #1D1F22;
}

.pdp-button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;

  width: 292px;
  height: 52px;
  cursor: pointer;


  border: #5ECE7B;
  color: #fff;
  background: #5ECE7B;
}

/* mini cart
====================================*/
.oppacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 55, 72, 0.22);
  z-index: 5;
}

.mini-cart {
  margin-top: 90px;
  margin-right: 72px;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0px 16px;
  gap: 40px;

  width: 380px;
  height: 550px;
  background-color: #FFFFFF;
  overflow-y: scroll;
  opacity: 1;
}

.bag {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: -16px;
  padding: 18px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  /* identical to box height, or 26px */
  text-align: left;

  color: #1D1F22;
  background-color: #FFFFFF;
}

.minicart-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  /* or 26px */
  display: flex;
  align-items: center;

  color: #1D1F22;
}

.input-mini {
  display: inline-block;
}


.mini-cart-item {
  display: flex;
  margin-bottom: 20px;
}

.mini-cart-img {
  width: 150px;
  height: auto;
}

.mini-cart-button {
  margin: 5px;
  width: 20px;
  height: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  border: 1px solid #1D1F22;
  cursor: pointer;
}

.mini-counter {
  margin-left: 8px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;

  /* or 38px */
  display: flex;
  align-items: center;
  text-align: center;

  color: #1D1F22;
}

.mini-cart-product-image {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  height: auto;
}

.mini-cart-product-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-item-attributes {
  width: 190px;
}

.mini-att-value {
  margin-right: 5px;
  width: auto;
  max-width: 10px;
  height: 10px;

  background: #FFFFFF;
  border: 1px solid #1D1F22;
  padding: 2px 8px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;

  /* identical to box height, or 112% */
  letter-spacing: 0.05em;

  color: #1D1F22;

  /* identical to box height */
  cursor: pointer;
}

.mini-att-value-swatch {
  margin-right: 5px;
  width: auto;
  max-width: 10px;
  height: 10px;

  background: #FFFFFF;
  border: 1px solid #1D1F22;
  padding: 0px 10px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;

  /* identical to box height, or 112% */
  letter-spacing: 0.05em;

  color: #1D1F22;

  /* identical to box height */
  cursor: pointer;
}

.mini-item-price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;

  /* identical to box height, or 26px */
  text-align: left;

  color: #1D1F22;
}

.mini-att-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  /* identical to box height, or 114% */
  display: flex;
  align-items: center;

  color: #1D1F22;

  margin-top: 8px;
}

.mini-total {
  display: flex;
  justify-content: space-between;
}

.mini-total-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  /* or 112% */

  color: #1D1F22;
}

.mini-total-value {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;

  color: #1D1F22;
}

.mini-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;

  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

color: #1D1F22;

  width: 170px;
  height: 43px;

  background: #FFFFFF;
  border: 1px solid #1D1F22;
  cursor: pointer;
}

.mini-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;

  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

/* --c-white */
color: #FFFFFF;

  width: 170px;
  height: 43px;

  /* --c-primary */
  background: #5ECE7B;
  border: 1px solid #5ECE7B;
  cursor: pointer;
}
.mini-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.mini {
  position: relative;
}

.checkout {
  position: sticky;
  bottom: 0;
  top: 80%;
  z-index: 11;
  background-color: #FFFFFF;
  width: 392px;
  margin: 0px -16px;
  padding: 5px 10px;
  padding-bottom: 15px;
}


.mini-left-arrow {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 85%;
  right: 28%;

  color: #fff;
  background: rgba(0, 0, 0, 0.73);
  border: #000;
  cursor: pointer;
}

.mini-right-arrow {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 85%;
  right: 15%;
  
  color: #fff;
  background: rgba(0, 0, 0, 0.73);
  border: #000;
  cursor: pointer;
}

.mini--arrow--left {
  width: 7px;
  margin-top: 2.5px;
  margin-right: 2px;
}

.mini--arrow--right {
  width: 7px;
  margin-top: 2.5px;
  margin-left: 2px;
}

.active {
  background: #1D1F22;
  border: 3px solid #1D1F22;
  color: white;
}

.active-swatch {
  border: 2px solid #5ECE7B;
  color: white;
}
/* Home page 
======================================*/

.home {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}

.start-shopping {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  flex-direction: column;
  padding: 16px 32px;

  width: 292px;
  height: 52px;
  margin-top: 30px;

  background: #5ECE7B;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;

  /* --c-white */
  color: #FFFFFF;
  cursor: pointer;
}

.home-link {
  text-decoration: none;
  color: #FFFFFF;
  padding: 16px 32px;

  width: 292px;
  height: 52px;
}
